<div class="teams__follow-section">
  <%if current_user%>
    <h1 class="teams__select-teams-header"> Select your favorite teams to follow! </h1>
  <%else%>
    <h1 class="teams__select-teams-header"> All Teams </h1>
  <%end%>

  <div class="home__matches-tabs-section">
    <ul class="nav nav-tabs directory-nav-center row" id="leagueTab" role="tablist">
      <span class="col-sm-3"></span>
      <li class="nav-item col-sm-3">
        <a class="nav-link active home__matches-tabs-selection" id="home-tab" data-toggle="tab" href="#nalcs" role="tab" aria-controls="home" aria-selected="true">LCS</a>
      </li>
      <li class="nav-item col-sm-3">
        <a class="nav-link home__matches-tabs-selection" id="profile-tab" data-toggle="tab" href="#lec" role="tab" aria-controls="profile" aria-selected="false">LEC</a>
      </li>
    </ul>
    <div class="tab-content container" id="leagueTabContent">
      <div id="nalcs" class="tab-pane fade show active">
        <%= render 'teams/display_teams', teams: @nalcs_teams %>
      </div>

      <div id="lec" class="tab-pane fade">
        <%= render 'teams/display_teams', teams: @lec_teams%>
      </div>
    </div>
  </div>
</div>