<%if current_user%>
  <div class="home__matches-tabs-section">
    <ul class="nav nav-tabs directory-nav-center row" id="myTab" role="tablist">
      <span class="col-sm-3"></span>
      <li class="nav-item col-sm-3">
        <a class="nav-link active home__matches-tabs-selection" id="home-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="home" aria-selected="true">Upcoming Matches</a>
      </li>
      <li class="nav-item col-sm-3">
        <a class="nav-link home__matches-tabs-selection" id="profile-tab" data-toggle="tab" href="#past" role="tab" aria-controls="profile" aria-selected="false">Past Matches</a>
      </li>
    </ul>
    <div class="tab-content container" id="myTabContent">
      <div id="upcoming" class="tab-pane fade show active">
        <%= render 'home/display_upcoming_matches', all_matches: @all_filtered_future_matches, team_matches: @filtered_future_matches %>
      </div>
      <div id="past" class="tab-pane fade">
        <%= render 'home/display_past_matches', all_matches: @all_filtered_past_matches, team_matches: @filtered_past_matches %>
      </div>
    </div>
  </div>
<%else%>
  <%= render 'home/user_not_logged_in' %>
<%end%>
