// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home__match_show_link {
  color: white;
}

.home__matches-tabs-section {
  padding-bottom: 50px;
}

.home__match_show_link:hover {
  color: white;
  text-decoration: none;
}

.home__matches-tabs-selection {
  width: 300px;
  line-height: 2.3 !important;
  font-size: 24px;
  color: white;
}
.home__matches-tabs-selection:hover {
  text-decoration: none !important;
  color: white;
  border: none;
}
.home__matches-collapse-button {
  color: white;
  background-color: #212529;
  border-color: #212529;
}
.home__matches-collapse-button:focus {
  box-shadow: none;
}
.home__matches-accordion-section {
  padding-top: 20px;
}
.home__none-to-display-text {
  margin-left: 15px;
}
.home_matches-collapse-button:hover {
  text-decoration: none !important;
  color: white !important;
}

.home-show__match-history-title {
  text-align: center;
  padding-top: 30px;
}

.home-show__match-history-league-and-logo {
  text-align: center;
  padding-top: 20px;
}

.home-show__match-history-league-info {
  font-size: 22px;
}

.home-show__match-history-score {
  margin-top: 45px;
  justify-content: center;
}

.home-show__match-score-result {
  margin-top: 35px;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  color: #f29b10;
}

.home-show__best-of-games-text {
  margin-top: 25px;
  text-align: center;
}

.home-show__match_date {
  margin-top: 1rem;
}

.home-show__team-name-and-score{
  margin-top: 15px;
}

.home-show__match-scheduled-on-date {
  margin-top: -10px;
}

.home-show__match-time-completed {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.home__match-score-style {
  color: #f29b10;
}

.home__user-not-logged-in-section {
  text-align: center;
  padding-top: 40px;
}

.home__welcome-to-feeder {
  margin-top: 40px;
}

.home__not-logged-in-user-option-buttons-section {
  margin-top: 30px;
}

.home__task-option-buttons {
  background-color: #f29b10;
  color: white !important;
}

.home__task-option-buttons:focus {
  box-shadow: none;
}

//BOOTSTRAP OVERRIDE
.directory-nav-center > li {
  float: none !important;
  display: inline-block !important;
  zoom: 1 !important;
}
.directory-nav-center {
  text-align: center !important;
  background-color: #212529;
  padding-bottom: 20px;
  padding-top: 20px;
}
.nav-link.active {
  border: none !important;
  border-bottom: 4px solid #f29b10 !important;
  color: #f29b10 !important;
  background-color: #212529 !important;
  //color: white !important;
}
