// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team__match-score-style {
  color: #f29b10;
}

.teams__follow-section {
  margin: auto;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.teams__select-teams-header {
  text-align: center;
}
.teams__display-teams-section {
  text-align: center;
}
.teams__save-changes-button {
  margin: auto;
  margin-top: 30px;
}
.teams__team-details-link {
  color: white;
}
.teams__team-details-link:hover {
  color: white;
  text-decoration: none;
}
.teams-show__team-name-section {
  text-align: center;
  padding-top: 50px;
}
.teams-show__team-player-image {
  height: 100px;
}
.team-show__player-details {
  padding-top: 15px;
  padding-bottom: 15px;
}

.teams-show__player-info {
  margin-bottom: 5px;
}

.teams-show__match-winner {
  color: #f29b10;
}

// CSS OVERRIDE
.toggle-handle {
  background-color: white;
}
.toggle-off {
  background-color: #ccc;
}
.btn-default.off {
  border: 1px solid #ccc;
}
.card {
  margin: 0.5rem;
  border-color: rgb(82, 82, 82);
  background-color: #212529;
}
.card-img-top {
  margin: auto;
  width: 100px;
  height: 100px;
}
.card-body {
  background-color: #212529;
}
.toggle.btn.off {
  color: #212529;
}
.save-changes {
  padding: 2rem;
}
